asgiref==3.10.0
Django==5.2.7
django-crispy-forms==1.14.0
django-environ==0.11.2
django-phonenumber-field==7.3.0
django-widget-tweaks==1.5.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
gunicorn==21.2.0
packaging==23.2
phonenumberslite==8.13.30
Pillow==9.3.0
PyJWT==2.10.1
python-magic==0.4.27
setuptools==80.9.0
sqlparse==0.4.3
wheel==0.45.1
whitenoise==6.6.0
