<footer class="my-5">
    <p>
        <a href="">Meta</a>
        <a href="">About</a>
        <a href="">Blog</a>
        <a href="">Jobs</a>
        <a href="">Help</a>
        <a href="">API</a>
        <a href="">Privacy</a>
        <a href="">Terms</a>
        <a href="">Locations</a>
        <a href="">Instagram Lite</a>
        <a href="">Threads</a>
        <a href="">Contact Uploading & Non-Users</a>
        <a href="">Meta Verified</a>
    </p>
    <p>
        <a href="">English</a>
        <a class="small brand-name">&copy; {% now 'Y' %} Instagram from Meta</a>
    </p>
</footer>