{% extends 'navbar.html' %}{% block title %}Notifications{% endblock %}
{% load static %}
{% load filters %}
    {% block content %}
    <main id="main" class="main">
       <div class="row">
            <div class="col-md-6 offset-sm-3">
                <div class="mt-1">
                    <ul class="list-group">
                        {% for alerts in notifications %}
                        <li class="list-group-item d-flex justify-content-between align-items-start py-2">
                            {% if alerts.notification_type == 1 %}
                            <img class="rounded-circle my-1" src="{{ alerts.sender.profile_pic.url }}" height="50px" alt="user-img">
                            <div class="ms-3 me-auto my-2">
                                <div>
                                    <a hx-get="{% url 'view_user_profile' alerts.sender %}" hx-trigger="click" hx-push-url="{% url 'view_user_profile' alerts.sender %}" hx-swap="outerHTML" hx-target="#wrapper" class="fw-bold">{{ alerts.sender }}</a> liked your post.
                                </div>
                                <p class="small text-muted">{{ alerts.date_created|post_timesince }}</p>
                            </div>
                            <img class="my-2" src="{{ alerts.get_post_image_files.posted_file.url }}" height="60px" alt="posted-img">
                            {% elif alerts.notification_type == 2 %}
                            <img class="rounded-circle my-1" src="{{ alerts.sender.profile_pic.url }}" height="50px" alt="user-img">
                            <div class="ms-3 me-auto my-2">
                                <div>
                                    <a hx-get="{% url 'view_user_profile' alerts.sender %}" hx-trigger="click" hx-push-url="{% url 'view_user_profile' alerts.sender %}" hx-swap="outerHTML" hx-target="#wrapper" class="fw-bold">{{ alerts.sender }}</a> commented on your post.
                                </div>
                                <p class="small">{{ alerts.notification_text }}</p>
                                <p class="small text-muted" style="margin-top: -2vh;">{{ alerts.date_created|post_timesince }}</p>
                            </div>
                            <img class="my-2" src="{{ alerts.get_post_image_files.posted_file.url }}" height="60px" alt="posted-img">
                            {% elif alerts.notification_type == 3 %}
                            <img class="rounded-circle my-1" src="{{ alerts.sender.profile_pic.url }}" height="50px" alt="user-img">
                            <div class="ms-3 me-auto my-2">
                                <div>
                                    <a hx-get="{% url 'view_user_profile' alerts.sender %}" hx-trigger="click" hx-push-url="{% url 'view_user_profile' alerts.sender %}" hx-swap="outerHTML" hx-target="#wrapper" class="fw-bold">{{ alerts.sender }}</a> started following you.
                                </div>
                                <p class="small text-muted">{{ alerts.date_created|post_timesince }}</p>
                            </div>
                            {% else %}
                            <img class="rounded-circle my-1" src="{{ alerts.sender.profile_pic.url }}" height="50px" alt="user-img">
                            <div class="ms-3 me-auto my-2">
                                <div>
                                    <a hx-get="{% url 'view_user_profile' alerts.sender %}" hx-trigger="click" hx-push-url="{% url 'view_user_profile' alerts.sender %}" hx-swap="outerHTML" hx-target="#wrapper" class="fw-bold">{{ alerts.sender }}</a> liked your comment
                                </div>
                                <p class="small mb-0">{{ alerts.notification_text }}</p>
                                <p class="small text-muted">{{ alerts.date_created|post_timesince }}</p>
                            </div>
                            {% endif %}
                        </li>
                        {% empty %}
                        <li class="list-group-item text-center">
                            <i class="bi bi-bell-fill fs-2"></i>
                            <p class="small">No notifications available</p>
                        </li>
                        {% endfor %}
                    </ul>
                </div>    
            </div>
       </div>
       <div class="row">
        <div class="col-md-12">
            {% include 'partials/footer.html' %}
        </div>
    </div> 
    </main>
    {% endblock %}