{% extends 'navbar.html' %}{% block title %}{{ request.user.username }}'s profile{% endblock %}
    {% block content %}
    <div class="container">
        {% include 'partials/modals/followers.html' %}
        <div class="row profile-container">
            <div class="col-md-3">
                <img class="profile-img rounded-circle" src="{{ obj.profile_pic.url }}" alt="dp">
            </div>
            <div class="col-md-6">
                {% include 'toasts.html' %}
                <div id="edit-profile-row">
                    <h3>{{ obj }}</h3>
                    <a href=""><i class="bi-send" style="font-size: 30px; color: black; margin-top: 6%"></i></a>
                    {% if is_following_user %}
                    <a hx-post="{% url 'follow_viewed_user' obj %}" hx-trigger="click" hx-target="#wrapper" hx-swap="outerHTML" hx-vals='{"follow-user": "{{ obj }}"}' hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' class="btn btn-secondary btn-sm">Unfollow</a>
                    {% else %}
                    <a hx-post="{% url 'follow_viewed_user' obj %}" hx-trigger="click" hx-target="#wrapper" hx-swap="outerHTML" hx-vals='{"follow-user": "{{ obj }}"}' hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' class="btn btn-outline-secondary btn-sm">Follow</a>
                    {% endif %}
                </div>
                <div id="edit-profile-row">
                    <h6 class="me-3">{% if posts_count == 1 %}<b>1</b> post{% else %}<b>{{ posts_count }}</b> posts{% endif %}</h6>
                    <h6 class="me-1">
                        <a href="" data-bs-toggle="modal" data-bs-target="#followers-modal">{% if followers == 1 %}<b>1</b> follower {% else %}<b>{{followers}}</b> followers {% endif %}
                        </a>
                    </h6>
                    <h6>
                        <a href="" data-bs-toggle="modal" data-bs-target="#following-modal">{% if following == 1 %}<b>1</b> following {% else %}<b>{{following}}</b> following {% endif %}
                        </a>
                    </h6>
                </div>
                <div id="edit-profile-form">
                    <h6><b>{{ obj.bio }}</b></h6>
                </div>
            </div>
            <div class="col-md-12 tabs-container">
                <ul class="nav nav-tabs nav-tabs-bordered d-flex" id="borderedTabJustified" role="tablist">
                    <li class="nav-item flex-fill" role="presentation">
                        <button class="nav-link w-100 active" id="posts-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-posts" type="button" role="tab" aria-controls="posts" aria-selected="true">
                            <i class="bi-grid-3x3"></i> POSTS
                        </button>
                    </li>
                    <li class="nav-item flex-fill" role="presentation">
                        <button class="nav-link w-100" id="saved-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-saved" type="button" role="tab" aria-controls="saved" aria-selected="false">
                            <i class="bi-bookmark"></i> SAVED
                        </button>
                    </li>
                    <li class="nav-item flex-fill" role="presentation">
                        <button class="nav-link w-100" id="tagged-tab" data-bs-toggle="tab" data-bs-target="#bordered-justified-tagged" type="button" role="tab" aria-controls="tagged" aria-selected="false">
                            <i class="bi-person-square"></i> TAGGED
                        </button>
                    </li>
                </ul>
                <div class="tab-content pt-2" id="borderedTabJustifiedContent">
                    <div class="tab-pane fade show active" id="bordered-justified-posts" role="tabpanel" aria-labelledby="posts-tab">
                        <div class="container-fluid">
                            <div class="row g-1">
                                {% for post in followers_posts %}
                                <div class="col-md-4 mb-0">
                                    <div id="post-{{ post.id|slice:':5' }}" class="carousel slide" data-bs-ride="carousel">
                                        {% if post.get_posted_images.count > 1 %}
                                        <div class="carousel-indicators">
                                            {% for image in post.get_posted_images %}
                                            <li data-bs-target="#post-{{ post.id|slice:':5' }}" data-bs-slide-to="{{ forloop.counter0 }}" data-image-id="{{ image.id }}" {% if forloop.first %}class="active"{% endif %} aria-current="true"></li>
                                            {% endfor %}
                                        </div>
                                        {% endif %}
                                        <div class="carousel-inner">
                                            {% for image in post.get_posted_images %}
                                            <div class="carousel-item {% if forloop.first %}active{% endif %}" id="image{{ image.id }}">
                                                <a hx-post="{% url 'like_or_unlike' %}" hx-trigger="click" hx-target="#wrapper" hx-swap="outerHTML" hx-vals='{"like-unlike": "{{ post.id }}"}' hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
                                                    <img src="{{ image.posted_file.url }}" class="d-block w-100 img-fluid mb-0" alt="posted-image">	
                                                </a>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="bordered-justified-saved" role="tabpanel" aria-labelledby="saved-tab">
                        <div class="row g-1">
                            {% for post in saved_posts %}
                            <div class="col-md-4">
                                <div id="post-{{ post.id|slice:':5' }}" class="carousel slide" data-bs-ride="carousel">
                                    {% if post.favorite_post.get_posted_images.count > 1 %}
                                    <div class="carousel-indicators">
                                        {% for image in post.favorite_post.get_posted_images %}
                                        <li data-bs-target="#post-{{ post.post_id|slice:':5' }}" data-bs-slide-to="{{ forloop.counter0 }}" data-image-id="{{ image.id }}" {% if forloop.first %}class="active"{% endif %} aria-current="true"></li>
                                        {% endfor %}
                                    </div>
                                    {% endif %}
                                    <div class="carousel-inner">
                                        {% for image in post.favorite_post.get_posted_images %}
                                        <div class="carousel-item {% if forloop.first %}active{% endif %}" id="image{{ image.id }}">
                                            <a hx-post="{% url 'like_or_unlike' %}" hx-trigger="click" hx-target="#wrapper" hx-swap="outerHTML" hx-vals='{"like-unlike": "{{ post.id }}"}' hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
                                                <img src="{{ image.posted_file.url }}" class="d-block w-100 img-fluid mb-0" alt="posted-image">	
                                            </a>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="tab-pane fade" id="bordered-justified-tagged" role="tabpanel" aria-labelledby="tagged-tab">
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mt-5">
                {% include 'partials/footer.html' %}
            </div>
        </div>
    </div>
    {% endblock %}
