* {
	box-sizing: border-box;
}
html, body {
	margin: 0;
	padding: 0;
}
body {
	background-color: rgba(235, 235, 250, 0.6);
}
a {
	text-decoration: none;
}
.container {
	margin-top: 10px;
	margin-bottom: 3px;
}
.logo {
	font-family: "Roboto";
}
.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 300px;
	z-index: 996;
	transition: all 0.3s;
	padding: 20px;
	overflow-y: auto;
	scrollbar-width: thin;
	scrollbar-color: #aab7cf transparent;
	box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
	background-color: #fff;
	box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
}

.sidebar-nav {
	padding: 0;
	margin: 0;
	list-style: none;
}
.sidebar-nav li {
	padding: 0;
	margin: 0;
	list-style: none;
}
.sidebar-nav .nav-item {
  	margin-bottom: 5px;
}
.sidebar-nav .nav-heading {
	font-size: 11px;
	text-transform: uppercase;
	color: #fff;
	font-weight: 600;
	margin: 10px 0 5px 15px;
}
.sidebar-nav .nav-link {
	display: flex;
	align-items: center;
	font-size: 20px;
	transition: 0.3;
	padding: 10px 5px;
	border-radius: 4px;
    margin-bottom: 10px;
}
.sidebar-nav .nav-link i {
	font-size: 25px;
	margin-right: 10px;
}
.sidebar-nav .nav-link i:active {
	color: black;
}
.sidebar-nav .nav-link span {
	color: #353c47;
}
.sidebar-nav .nav-link img {
	height: 35px;
	width: 35px;
	margin-right: 10px;
	margin-top: -3%;
	margin-left: -3%;
}
.login-form form {
	padding: 30px;
}

/* Profile page */
.profile-container {
	margin-left: 30%;
	margin-top: 2%;
	padding-left: 15px;
	padding-right: 15px;
}
.profile-container .profile-img {
	height: 120px;
	width: 120px;
}
#edit-profile-row {
	display: inline-flex;
	align-items: center;
	margin-bottom: 7%;
	
}
#edit-profile-row h3, #edit-profile-row a{
	margin-right: 15px;
}
#edit-profile-row h6 {
	margin-right: 22px;
}
.profile-container .tabs-container #borderedTabJustifiedContent #bordered-justified-posts img{
	height: 230px;
	width: 240px;
	display: inline-block;
	margin-bottom: 2%;
}

/* Bordered tabs in profile page */
.tabs-container {
	margin-top: 7%;
}
.nav-tabs-bordered {
	border-top: 2px solid #ebeef4;
	border-bottom: none;

}
.nav-tabs-bordered .nav-link {
	padding-top: 15px;
	margin-bottom: -2px;
	border: none;
	color: #8891a1;
	font-weight: 600;
}
.nav-tabs-bordered .nav-link:hover, .nav-tabs-bordered .nav-link:focus {
	color: #21252c;
}
.nav-tabs-bordered .nav-link.active {
	background-color: #fff;
	color: black;
	border-top: 2px solid #353c47;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.nav-pills {
	border-right: 1px solid black;
	margin-left: -2%;
	
}
.nav-pills .nav-link {
	margin-left: -2%;
	margin-right: 7px;
	color: black;

}.nav-pills .nav-link {
	/* margin-left: -5%; */
	text-align: left;
	/* margin: 0 0 5px 0; */
}
.nav-pills .nav-link.active {
	border-left: 2px solid #353c47;
	color: black;
	background-color: #fff;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.edit-profile-form {
	margin-left: 10%;
}
.edit-profile-form #id_profile_pic {
	margin-bottom: 5%;
}

/* Homepage */
.homepage-container {
	margin-left: 27%;
	margin-top: 4%;
}
.homepage-container #dp {
	height: 70px;
	width: 70px;
	margin-right: 5%;
}
.homepage-container .posts-card {
	margin-bottom: 3%;
}
.homepage-container .posts-card #post-dp {
	height: 50px;
	width: 50px;

}
.homepage-container .posts-card .posts-img-container {
	padding: 0;
}
.homepage-container .posts-card .posts-img-container .posts-img {
	width: 526px;
	height: auto;
	margin-left: -1%;
	margin-bottom: 3%;
}
.homepage-container .posts-card .posts-title {
	margin-left: 2%;
}
.homepage-container .posts-card .filter {
	position: absolute;
	right: 0px;
	top: 15px;
}
.homepage-container .posts-card .filter .icon {
	color: #21252c;
	padding-right: 20px;
	padding-bottom: 5px;
	transition: 0.3s;
	font-size: 16px;
}
.homepage-container .posts-card .filter .icon:hover, .homepage-container .posts-card .filter .icon:focus {
  	color: #4154f1;
}
.homepage-container .posts-card .filter .dropdown-header {
  	padding: 8px 15px;
}
.homepage-container .posts-card .filter .dropdown-header h6 {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 1px;
	color: #aab7cf;
	margin-bottom: 0;
	padding: 0;
}
.homepage-container .posts-card .filter .dropdown-item {
  	padding: 8px 15px;
}
.homepage-container .posts-card .likes-dp {
	height: 30px;
	width: 30px;
	margin-right: -10.5%;
}
.homepage-container .posts-card .posts-icons-container, .likes-dp-container, .description {
	margin-bottom: 2%;
	padding-left: 15px;
}
.homepage-container .posts-card .posts-icons-container .icons-link {
	margin-right: 3%;
	color: black;
	font-size: 30px;
}
.homepage-container .posts-card .posts-icons-container #bookmark {
	margin-left: 68%;
}
.homepage-container .posts-card .posts-img-container .likes-text-container {
	margin-left: -3%;
}
.homepage-container .posts-card .posts-img-container .comment-container {
	margin-left: 15px;
	margin-bottom: -4%;
}
.homepage-container .posts-card .posts-img-container .comment-container a {
	font-size: 25px;
	margin-right: 1%;
	margin-top: -3%;
	color: black;
}
.homepage-container .posts-card .posts-img-container .comment-container input[type="text"] {
	width: 400px;
	border: none;
	margin-left: 2%;
}
.homepage-container .upload-posts-form form i {
	font-size: 100px;
	margin-bottom: 3%;
}
.homepage-container .upload-posts-form form label {
	visibility: hidden;
}