.container {
	margin-top: 10px;
	margin-bottom: 3px;
}
.logo {
	font-family: "Roboto";
}
.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 300px;
	z-index: 996;
	transition: all 0.3s;
	padding: 20px;
	overflow-y: auto;
	scrollbar-width: thin;
	scrollbar-color: #aab7cf transparent;
	box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
	background-color: #fff;
	box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
}

.sidebar-nav {
	padding: 0;
	margin: 0;
	list-style: none;
}
.sidebar-nav li {
	padding: 0;
	margin: 0;
	list-style: none;
}
.sidebar-nav .nav-item {
  	margin-bottom: 5px;
}
.sidebar-nav .nav-heading {
	font-size: 11px;
	text-transform: uppercase;
	color: #fff;
	font-weight: 600;
	margin: 10px 0 5px 15px;
}
.sidebar-nav .nav-link {
	display: flex;
	align-items: center;
	font-size: 20px;
	transition: 0.3;
	padding: 10px 5px;
	border-radius: 4px;
    margin-bottom: 10px;
}
.sidebar-nav .nav-link i {
	font-size: 25px;
	margin-right: 10px;
}
.sidebar-nav .nav-link span {
	color: #353c47;
}
.sidebar-nav .nav-link img {
	height: 35px;
	width: 35px;
	margin-right: 10px;
	margin-top: -3%;
	margin-left: -3%;
}
.login-form form {
	padding: 30px;
}

/* Profile page */
.profile-container {
	margin-left: 30%;
	margin-top: 2%;
	padding-left: 15px;
	padding-right: 15px;
}
.profile-container .profile-img {
	height: 120px;
	width: 120px;
}
#edit-profile-row {
	display: inline-flex;
	align-items: center;
	margin-bottom: 7%;
	
}
#edit-profile-row h3, #edit-profile-row a{
	margin-right: 15px;
}
#edit-profile-row h6 {
	margin-right: 22px;
}

/* Bordered tabs in profile page */
.tabs-container {
	margin-top: 7%;
}
.nav-tabs-bordered {
	border-top: 2px solid #ebeef4;
	border-bottom: none;

}
.nav-tabs-bordered .nav-link {
	padding-top: 15px;
	margin-bottom: -2px;
	border: none;
	color: #8891a1;
	font-weight: 600;
}
.nav-tabs-bordered .nav-link:hover, .nav-tabs-bordered .nav-link:focus {
	color: #21252c;
}
.nav-tabs-bordered .nav-link.active {
	background-color: #fff;
	color: black;
	border-top: 2px solid #353c47;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.nav-pills {
	border-right: 1px solid black;
	margin-left: -2%;
	
}
.nav-pills .nav-link {
	margin-left: -2%;
	margin-right: 7px;
	color: black;

}.nav-pills .nav-link {
	/* margin-left: -5%; */
	text-align: left;
	/* margin: 0 0 5px 0; */
}
.nav-pills .nav-link.active {
	border-left: 2px solid #353c47;
	color: black;
	background-color: #fff;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.edit-profile-form {
	margin-left: 10%;
}
.edit-profile-form #id_profile_pic {
	margin-bottom: 5%;
}