{% extends 'navbar.html' %}{% block title %}Edit profile&centerdot;Instagram clone{% endblock %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-3">
                <div class="card card-body">
                    <div class="d-flex align-items-start">
                        <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            <button class="nav-link active" id="v-pills-edit-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-edit-profile" type="button" role="tab" aria-controls="v-pills-edit-profile" aria-selected="true">Edit profile</button>
                            <button class="nav-link" id="v-pills-c_password-tab" data-bs-toggle="pill" data-bs-target="#v-pills-c_password" type="button" role="tab" aria-controls="v-pills-c_password" aria-selected="false">Change password</button>
                            <button class="nav-link" id="v-pills-privacy-tab" data-bs-toggle="pill" data-bs-target="#v-pills-privacy" type="button" role="tab" aria-controls="v-pills-privacy" aria-selected="false">Privacy security</button>
                        </div>
                        <div class="tab-content" id="v-pills-tabContent">
                            <div class="tab-pane fade show active" id="v-pills-edit-profile" role="tabpanel" aria-labelledby="v-pills-edit-profile-tab">
                                <form action="" method="post" enctype="multipart/form-data" class="edit-profile-form">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-12">
                                            {{edit_form|crispy}}
                                            <button type="submit" class="btn btn-primary mt-3">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane fade" id="v-pills-c_password" role="tabpanel" aria-labelledby="v-pills-c_password-tab">
                                
                            </div>
                            <div class="tab-pane fade" id="v-pills-privacy" role="tabpanel" aria-labelledby="v-pills-privacy-tab">
                                
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    {% endblock %}
</body>
</html>