{% extends 'navbar.html' %}{% block title %}Login{% endblock %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">

            </div>
            <div class="col-md-4 login-form">
                <form action="" method="post" class="card card-body">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-12">
                            {% include 'messages.html' %}{{form|crispy}}
                        </div>
                    </div>
                    <div class="d-grid gap-2 mt-2">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                    <div>
                        <p class="small pb-0"><a href="">Forgot password?</a></h6>
                    </div>
                </form>
                <div class="card card-body">
                    <h6 class="text-center">Don't have an account? <a href="{% url 'signup' %}">Sign up</a></h6>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
</body>
</html>