{% extends 'navbar.html' %}{% block title %}Profile{% endblock %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="{{ request.user.userprofile.profile_pic.url }}" alt="">
            </div>
            <div class="col-md-8">
                
            </div>
        </div>
    </div>
    {% endblock %}
</body>
</html>