{% extends 'navbar.html' %}{% block title %}Create account{% endblock %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-sm-4">
                <form action="" method="post" class="card card-body">
                    {% csrf_token %}
                    <h2 class="text-center">Instagram</h2>
                    <h6 class="text-center text-muted fw-bold">Sign up to see photos and videos from your friends</h5>
                    <div class="row">
                        <div class="col-md-12">
                            {{SignUpForm|crispy}}
                        </div>
                    </div>
                    <div class="d-grid gap-2 mt-2">
                        <button type="submit" class="btn btn-primary">Signup</button>
                    </div>
                </form>
                <div class="card card-body">
                    <h6 class="text-center">Have an account? <a href="{% url 'user_login' %}">Login</a></h6>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
</body>
</html>